<!--  This is a button -->
<button type="button" onClick="clickme()">Click me</button>

<!-- this is a link -->
<a href="./nextPage.html">Go to the next page</a>

<!-- This is NOT accessible -->
<div onClick="clickme()">Click me</div>